<!-- file-uploader.component.html -->
<input type="file" id="fileInput"
       accept="image/*"
       (change)="onFilesSelected($event,false)" hidden>
<input type="file" id="filmInput"
       accept="video/*"
       (change)="onFilesSelected($event,true)"  hidden>

<div class="upload-buttons">
  <button type="button" (click)="triggerFileInput(false)">📎  צילום מסך</button>
  <button type="button" (click)="triggerFileInput(true)">🎥 הקלטת מסך</button>
</div>

<ul class="file-list">
  <li *ngFor="let a of attachments; let i = index">
    {{ a.file.name }} ‑ {{ a.isFilm ? 'וידאו' : 'תמונה' }}
    <button type="button" (click)="remove(i)">✖</button>
  </li>
</ul>
