<div class="personal-stats-header">
  <div class="stat-box">
    <h3>ממוצע זמן טיפול בבאגים (ימים)</h3>
    <span>{{ averageTreatmenTimeDisplay }}</span>
  </div>
  <div class="stat-box">
    <h3>Azure כמות הבאגים שנפתחו ב</h3>
    <span>{{ treatBugsDisplay }}</span>
  </div>
  <div class="stat-box">
        <h3>מספר הבאגים שפתחת</h3>
    <span>{{ totalBugsDisplay }}</span>
  </div>
</div>
<div class="personal-grid">
  <div class="personal-item by-priority">
    <h3 class="center-title">כמות באגים בטיפול לפי עדיפות</h3>
    <app-priority-bar-chart [data]="userData?.byPriority"></app-priority-bar-chart>
  </div>

  <div class="monthly-trends">
    <app-monthly-trends [userId]="userId" [displayCategorySelector]="false"></app-monthly-trends>
  </div>
</div>
