<div *ngIf="bug" class="bug-container">

  <div class="top-bar full">
    <div></div>
    <div class="report-date">
      דווח ע"י {{bug.createdByUserFullName}} {{ bug.createdDate | date: 'dd/MM/yyyy' }}
    </div>
  </div>

  <div class="bug-grid">
    <div class="description-section">
      <div class="bug-title-box">
        <ng-container *ngIf="!isEditMode">{{ bug.title }}</ng-container>
        <input *ngIf="isEditMode" [(ngModel)]="editedBug.title" class="edit-inline" />
      </div>

      <div class="description">
        <ng-container *ngIf="!isEditMode">{{ bug.description }}</ng-container>
        <textarea *ngIf="isEditMode" [(ngModel)]="editedBug.description" class="edit-inline"></textarea>
      </div>
    </div>

    <div class="middle-section">
      <div class="priority-category-row">
        <div class="field">
          <div class="label">עדיפות:</div>
          <div class="value">
            <ng-container *ngIf="!isEditMode">{{ bug.priorityName || 'לא צויין' }}</ng-container>
            <select *ngIf="isEditMode" [(ngModel)]="editedBug.priorityId" class="edit-inline select-box">
              <option *ngFor="let p of priorities" [value]="p.priorityId">{{ p.priorityName }}</option>
            </select>
          </div>
        </div>
        <div class="field">
          <div class="label">קטגוריה:</div>
          <div class="value">
            <ng-container *ngIf="!isEditMode">{{ bug.categoryName || 'לא צויין' }}</ng-container>
            <select *ngIf="isEditMode" [(ngModel)]="editedBug.categoryId" class="edit-inline select-box">
              <option *ngFor="let c of categories" [value]="c.categoryId">{{ c.categoryName }}</option>
            </select>
          </div>
        </div>
      </div>

      <div claשss="status-summary">
        <div class="status-line">
          סטטוס:
          <span *ngIf="!isEditMode" [ngClass]="{
  'status-open': bug.statusName === 'פתוח',
  'status-close': bug.statusName === 'סגור',
  'status-active': bug.statusName === 'פעיל',
  'status-cancelled': bug.statusName === 'בוטל',
  'status-close-without-opening': bug.statusName === 'נסגר מבלי להיפתח'
}">
            {{ bug.statusName }}
          </span>
          <select *ngIf="isEditMode" [(ngModel)]="editedBug.statusId" class="edit-inline select-box">
            <option *ngFor="let s of statuses" [value]="s.statusId">{{ s.statusName }}</option>
          </select>
        </div>
        <div class="assigned-to" *ngIf="bug.statusName==='Active'">
          מטופל ע"י: {{ bug.createdByUserFullName }}
        </div>
      </div>
    </div>

    <div></div>
  </div>

  <div class="footer-row">
    <div class="bug-files">
      <div class="attachments-toggle">
        <button (click)="showAttachments = !showAttachments">הצג/הסתר קבצים</button>
      </div>

      <div *ngIf="showAttachments">
        <app-inline-attachments [bugId]="bug.bugId" [isEditMode]="isEditMode" (filesChanged)="onFilesChanged($event)">
        </app-inline-attachments>
      </div>

      <span *ngIf="!isEditMode"><i class="fas fa-video"></i></span>
      <div *ngIf="isEditMode" class="attachments-section">
        <!-- <app-file-uploader (filesChanged)="onFilesChanged($event)"></app-file-uploader> -->
      </div>
    </div>
    <div class="bug-actions">
      <button class="edit-btn" *ngIf="AuthorizedUser && !isEditMode" (click)="toggleEdit()">עריכה ✏️</button>
      <button class="save-btn" *ngIf="isEditMode" (click)="saveChanges()">שמור ✅</button>
      <button class="edit-btn" *ngIf="isEditMode" (click)="cancelEdit()">ביטול</button>
      <button class="delete-btn" (click)="openPopup()" *ngIf="AuthorizedUser">
        מחיקה 🗑️
      </button>
    </div>
  </div>
</div>

<div class="popup-overlay" *ngIf="showPopup" (click)="onOverlayClick($event)">
  <div class="popup-content delete-popup" (click)="$event.stopPropagation()">
    <h3 class="popup-title">?האם אתה בטוח שברצונך למחוק את הבאג</h3>

    <textarea [(ngModel)]="closeReason" rows="4" placeholder="נימוק/הערה לסגירת הבאג"></textarea>

    <div class="popup-actions">
      <button class="delete-btn" (click)="submitClose()">
        מחיקה 🗑️
      </button>
    </div>
  </div>
</div>
