<div class="side-drawer">
  <div class="drawer-header center-title">
    <button class="close-btn" (click)="closePanel()">
      <svg width="20" height="20" viewBox="0 0 20 20">
        <line x1="4" y1="4" x2="16" y2="16" stroke="#1976d2" stroke-width="2" stroke-linecap="round"/>
        <line x1="16" y1="4" x2="4" y2="16" stroke="#1976d2" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </button>
    <span>קבצים שצורפו</span>
  </div>

  <div class="drawer-list">
    <ng-container *ngIf="files && files.length > 0; else noFiles">
      <div class="file-preview" *ngFor="let file of files">
        <ng-container *ngIf="attachService.isImage(file.fileType); else videoBlock">
          <img [src]="file.url" [alt]="file.fileName" class="preview-img" />
        </ng-container>

        <ng-template #videoBlock>
          <video [src]="file.url" controls class="preview-video"></video>
        </ng-template>
      </div>
    </ng-container>

    <ng-template #noFiles>
      <div class="no-files-msg">לא נמצאו קבצים להצגה</div>
    </ng-template>
  </div>
</div>
