<div class="chart-container">
  <h2 class="chart-title">התפלגות באגים לפי סטטוס ועדיפות</h2>

  <ul class="custom-legend-list legend-row">
    @for(priorityLabel of priorityLabels; track priorityLabel; let i = $index)
{
    <li>   <span [ngStyle]="{'color': legendColors[i]}" class="legend-label">{{ priorityLabel }}</span>
    </li>
}
  </ul>


  <div class="chart-main-area">
      <canvas
          baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
        ></canvas>
  </div>

    <div class="status-labels-row">
      @for(label of barChartLabels; track label; let i = $index)
      {
      <div class="status-label" [ngClass]="statusLabelClasses[i]">
        {{ label }}
      </div>
    }
    </div>
</div>
