<div class="attachments-wrapper">

  <!-- העלאת קבצים -->
  <div class="buttons-row" *ngIf="isEditMode">
  <button type="button" class="screen-btn yellow" (click)="onScreenshot()">📎 צילום מסך</button>
  <button type="button" class="screen-btn blue" (click)="onRecordVideo()">🎥 הקלטת מסך</button>
</div>
  <div  class="attachments-container">
    <ul class="attachments-list">
      <li *ngFor="let file of files; let i = index" class="attachment-item">
        <a [href]="file.url" target="_blank" class="attachment-link">{{ file.fileName }}</a>

        <ng-container *ngIf="attachmentService.isImage(file.fileType)">
          <img [src]="file.url" alt="{{file.fileName}}" class="attachment-preview" />
        </ng-container>

        <ng-container *ngIf="attachmentService.isVideo(file.fileType)">
          <video [src]="file.url" controls class="attachment-preview"></video>
        </ng-container>

        <div class="attachment-actions">
          <button (click)="renameFile(i)">✏️ שנה שם</button>
          <button (click)="deleteAttachment(file.attachmentId)">🗑️ מחק</button>
        </div>
      </li>
    </ul>
  </div>


<!-- פופאפ להצגת קובץ נבחר -->
<div class="popup-overlay" *ngIf="selectedFile" (click)="closePopup()">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <button class="popup-close" (click)="closePopup()">✖</button>

    <ng-container *ngIf="attachmentService.isImage(selectedFile.fileType); else popupVideo">
      <img [src]="selectedFile.url" class="popup-image" />
    </ng-container>

    <ng-template #popupVideo>
      <video [src]="selectedFile.url" class="popup-video" controls autoplay></video>
    </ng-template>

    <div class="popup-file-name">{{ selectedFile.fileName }}</div>
  </div>
</div>
