<div class="inline-attachments-wrapper">

  <!-- כפתורי צילום והקלטה - מוצגים רק במצב עריכה -->
  <div class="buttons-row" *ngIf="isEditMode">
    <button type="button" class="screen-btn gray" (click)="onScreenshot()">
      <svg viewBox="0 0 24 24" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M19 7h-1.586l-1.707-1.707A.996.996 0 0014 5H10a.996.996 0 00-.707.293L7.586 7H6a2 2 0 00-2 2v7a2 2 0 002 2h13a2 2 0 002-2v-7a2 2 0 00-2-2zM12 17a3 3 0 110-6 3 3 0 010 6z" />
      </svg>
      צילום מסך
    </button>

    <button type="button" class="screen-btn gray" (click)="onRecordVideo()">
      <svg viewBox="0 0 24 24" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
        <path d="M17 10.5V7c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2v-3.5l4 4v-11l-4 4z" />
      </svg>
      הקלטת מסך
    </button>
  </div>

  <!-- תצוגת הקבצים -->
  <div class="attachments-list">
    <div class="attachment-card" *ngFor="let f of files">
      <button *ngIf="isEditMode && f.attachmentId !== 0" class="delete-btn"
        (click)="deleteAttachment(f.attachmentId)">✕</button>

      <ng-container *ngIf="attachmentService.isImage(f.fileType); else showVideo">
        <img class="preview-img" [src]="f.url" loading="lazy" (click)="openPopup(f)" />
      </ng-container>

      <ng-template #showVideo>
        <video class="preview-video" [src]="f.url" controls (click)="openPopup(f)"></video>
      </ng-template>

      <div class="file-name">{{ f.fileName }}</div>
    </div>
  </div>

  <!-- פופאפ לצפייה מוגדלת -->
  <div class="popup-overlay" *ngIf="selectedFile" (click)="closePopup()">
    <div class="popup-content" (click)="$event.stopPropagation()">
      <button class="popup-close" (click)="closePopup()">✖</button>

      <ng-container *ngIf="attachmentService.isImage(selectedFile.fileType); else popupVideo">
        <img [src]="selectedFile.url" class="popup-image" />
      </ng-container>

      <ng-template #popupVideo>
        <video [src]="selectedFile.url" class="popup-video" controls autoplay></video>
      </ng-template>

      <div class="popup-file-name">{{ selectedFile.fileName }}</div>
    </div>
  </div>

</div>