<button class="close-btn" (click)="close()">❮</button>

<div class="comments-list" #scrollContainer>
  <div class="comment" *ngFor="let c of comments">
    <div class="icon">
      <img src="assets/user-icon.png" alt="user" />
    </div>
    <div class="text">
      <p>{{ c.commentText }}</p>
      <small>
        נכתב ע"י {{ currentUserName }} בתאריך {{ c.commentDate | date: 'dd/MM/yyyy HH:mm' }}
      </small>
    </div>
    <button *ngIf="isAuthorizedToComment" class="delete-btn" (click)="deleteComment(c.commentID)">
      <i class="fa fa-trash"></i>
    </button>
  </div>
</div>

<div class="add-section">
  <ng-container *ngIf="isAuthorizedToComment">
    <div *ngIf="adding" class="add-form">
      <div class="mention-container">
        <textarea class="comment-textarea" [(ngModel)]="newComment" (input)="onInput($event)"
          placeholder="כתוב כאן הערה" rows="4" (keydown.enter)="handleEnter($event)" #commentInput></textarea>

        <ul *ngIf="showMentionList" class="mention-list">
          <li *ngFor="let user of filteredUsers" (click)="selectUser(user)">
            <app-user-profile [user]="user"></app-user-profile>
          </li>
        </ul>
      </div>
      <div class="actions">
        <button class="add-btn" (click)="saveComment()">
          <i class="fas fa-arrow-up"></i>
        </button>

      </div>
    </div>
    <button *ngIf="!adding" class="add-btn" (click)="openAdd()">+</button>
  </ng-container>
</div>