.comments-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  direction: rtl;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.4rem;
  align-self: flex-start;
  cursor: pointer;
  margin: 10px;
}

.comments-list {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.comment {
  display: flex;
  align-items: flex-start;
  background: white;
  border-radius: 10px;
  padding: 8px;
  margin-top: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  gap: 8px;
}

.text {
  flex: 1;
  font-size: 14px;
}

.text small {
  color: gray;
  font-size: 12px;
}

.delete-btn {
  background: none;
  border: none;
  color: rgb(55, 49, 49);
  cursor: pointer;
  align-self: flex-start;
}

.add-section {
  background: white;
  padding: 10px;
  margin-bottom: 3px;
}

.add-form {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 6px;
  
}


.add-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: linear-gradient(to right, purple, red);
  color: white;
  font-size: 26px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 0 auto;
}
