.canvas-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;       /* לא יחרוג מרוחב הרבע */
  max-height: 100%;      /* לא יחרוג מגובה הרבע */
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: auto !important;  /* רוחב אוטומטי לפי פרופורציה */
  height: auto !important; /* גובה אוטומטי לפי פרופורציה */
  max-width: 100%;         /* לא יחרוג מרוחב הרבע */
  max-height: 100%;        /* לא יחרוג מגובה הרבע */
  display: block;
}
h2 { text-align: center; font-size: 1.2rem; font-weight: 200; color: #222; margin: 0 0 10px 0; flex: 0 0 auto; }

